<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="">
        <p> Name : <input type="text" ng-model = "name"> </p>
        <p ng-bind = "name"> </p>
    </div>
</html>