<!DOCTYPE html>
<html>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="" ng-init="Amount = 1076">
        <p> Billing amount : {{Amount}}</p>
        <p> Contest Code : <input type="text" ng-model="code" ng-focus="showDiscount=false"></p>
        <button ng-click="showDiscount = true">Apply Coupon</button>
        <br>
        <p> Amount to be paid after discount :</p>
        <div ng-switch="code" ng-show="showDiscount">
            <div ng-switch-when = "CDMK1610">
                <p> {{ Amount - Amount * 0.1 }}</p>
            </div>
            <div ng-switch-when = "CDMK1620">
                <p> {{ Amount - Amount * 0.2 }}</p>
            </div>
            <div ng-switch-when = "CDMK1690">
                <p> {{ Amount - Amount * 0.9 }}</p>
            </div>
            <div ng-switch-default>
                <p> {{ Amount - Amount * 0.05 }}</p>
            </div>
        </div>
    </div>
</html>