<!DOCTYPE html>
<html>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p> {{ display() }}</p>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.date = new Date();
            $scope.ldate = new Date(document.lastModified);
            $scope.display = function() {
                return " Current date : " + $scope.date + " Last Modified date : " + $scope.ldate ;
            }
        });
    </script>

</html>