<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
    
    table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
} 
    </style>

    <div ng-app="myApp" ng-controller= "CDController">
        <p>{{name}}</p>
        <p>{{address}}</p>
        <table>
            <tr ng-repeat = "x in details.cd">
                <td>{{ x.title }}</td>
                <td>{{ x.language }}</td>
                <td>{{ x.price }}</td>
            </tr>
        </table>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('CDController',function($scope){
            $scope.name = "Record City";
            $scope.address = "Las Vegas, NV, USA";
            $scope.details ={ cd : [ {title : 'Hacksaw Ridge', language : 'English', price : '$12'},
                                    {title : 'Zootopia', language : 'English', price :'$8'},
                                    {title : 'John Wick', language : 'English', price : '$9'},
                                    {title : 'Batman Begins', language : 'English', price :'$10'},
                                    {title : 'Despicable Me', language : 'English', price :'$9'},
                                    {title : 'The Lord of the Rings', language : 'English', price :'$8'},
                                    {title : 'Gladiator', language : 'English', price :'$12'},
                                    {title : 'The Dark Knight Rises', language : 'English', price :'$8'},
                                    {title : 'Interstellar', language : 'English', price :'$8'},
                                    {title : 'Deadpool', language : 'English', price :'$10'},
                                    {title : 'Inside Out', language : 'English', price :'$8'},
                                    {title : 'Kung Fu Panda', language : 'English', price :'$11'},
                                    {title : 'The Fate of the Furious', language : 'English', price :'$9'},
                                    {title : 'Wonder', language : 'English', price :'$10'}
                            
                         ]
                        }
        });
    </script>
</html>