<!DOCTYPE html>
<html> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p> UserName : <input type="text" ng-model="username"></p>
        <p> City : <input type="text" ng-model="city"></p>
        <!--<p> {{username | uppercase}} </p>
        <p> {{city | uppercase}} </p>
        <p> {{date | date:'dd-MM-yyyy'}} </p>-->
        <p> {{output()}}</p>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.date = new Date();
            $scope.output = function(){
            if($scope.username != null && $scope.city != null){
                return $scope.username.toUpperCase() + "  " + $scope.city.toUpperCase() + "  " + $scope.date ;
            }
                else
                    return ''; 
            }
                
        });
    </script>
</html>