<!DOCTYPE html>
<html>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <div ng-app="myApp" ng-controller="myCtrl" >
        <button ng-click="newRow()"> Generate 5 Table</button>
        <ul>
            <li ng-repeat = "x in rows">
                5 X {{x}} = {{ x * 5}}
            </li>
        </ul>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller("myCtrl",function($scope){
            $scope.rows = [];
            $scope.counter=1;
            $scope.newRow = function() {
                if($scope.counter<=10){
                    $scope.rows.push($scope.counter);
                    $scope.counter++;
                }
            }
 })
    </script>
</html>