<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <div ng-app="myApp" ng-controller="CDController">
        <p> CDID : <input type="text" ng-model="CDID"></p>
        <p> CDTitle : <input type="text" ng-model="CDTitle"></p>
        <p> CDPrice : <input type="text" ng-model="CDPrice"</p>
        <p> {{ getAllDetails() }}</p>   
    </div>
    <script src="assignment4.js"></script>
</html>